@import "vars";
@import "mixins";

.btn {
    line-height: $button-lh;
    font-size: $button-font;
    border: $button-border solid;
    padding: $button-padding;
    border-radius: $button-border-radius;
    display: inline-block;
    text-align: $button-text-align;
    text-transform: $button-text-transform;
    font-weight: $button-font-weight;
    @include Button (black, transparent, black);
    &:focus,
    &:active {
        outline: none;
    }
    &-sm {
        font-size: 12px;
    }
    &-lg {
        font-size: 20px;
    }
    &-block {
        display: block;
        width: 100%;
    }
}