@import "vars";
@import "mixins";

.wrapper {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 $gutter/2;
    box-sizing: border-box;

    &.full {
        max-width: none;
    }
}

.row {
    display: flex;
    margin: 0 $gutter/-2;
    flex-direction: row;
    flex-wrap: wrap;
}

.col {
    margin: 0 $gutter/2;
    flex-basis: 100%;
    min-height: 1px;
    @include makeGrid();
}