@import "vars";
@import "mixins";

.wrapper {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 $gutter/2;
    box-sizing: border-box;

    &.full {
        max-width: none;
    }
}

.row {
    display: flex;
    margin: 0 $gutter/-2;
    flex-direction: row;
    flex-wrap: wrap;

    &.centered {
        justify-content: center;
        .col{
            margin: 0 $gutter/2;
        }
    }

    &.to-right {
        justify-content: flex-end;
        .col {
            margin: 0 $gutter/2;
        }
    }
}

.col {
    margin: 0 $gutter/2;
    flex-basis: 100%;
    min-height: 1px;
    @include makeGrid();
}

@each $key,
$value in $viewports {
    .#{$key}-visible {
        display: none !important;
        @if $key==$xl_prefix {
            @media all and (min-width: nth($value, 1)) {
                display: block !important;
            }
        }
        @else {
            @media all and (max-width: nth($value, 2)) and (min-width: nth($value, 1)) {
                display: block !important;
            }
        }
    }

    .#{$key}-hidden {
        display: block !important;
        @if $key==$xl_prefix {
            @media all and (min-width: nth($value, 1)) {
                display: none !important;
            }
        }
        @else {
            @media all and (max-width: nth($value, 2)) and (min-width: nth($value, 1)) {
                display: none !important;
            }
        }
    }
}