.img-wrapper {
    position: relative;
    overflow: hidden;

    &:before {
        display: none;
        padding-top: 100%;
        content: "";
    }

    &--ratio-1x1:before {
        padding-top: 100%;
    }

    &--ratio-4x3:before {
        padding-top: calc(3 / 4 * 100%);
    }

    &--ratio-16x9:before {
        padding-top: calc(9 / 16 * 100%);
    }

    & > img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
    }
}