@import "vars";

//Grid mixins
@mixin createColumns ($prefix) {

    @for $i from 1 through $columns {

        &--#{$prefix}-#{$i} {
            flex-basis: ($i/$columns) * 100%;
        }

        &--offset-#{$prefix}-#{$i} {
            margin-left: ($i/$columns) * 100%;
        }

    }

    &--#{$prefix}-auto {
        margin: 0 auto;
    }
    &--#{$prefix}-grow {
        flex-grow: 1;
    }
    &--#{$prefix}-right {
        margin-left: auto;
    }
}

@mixin makeGrid {
    @each $key, $value in $viewports {
        @if $value == 0 {
            @include createColumns ($key);
        } @else {
            @media all and (min-width: $value) {
                @include createColumns ($key);
            }
        }

    }
}

//Buttons mixins

@mixin buttonState($border, $fill, $text) {
    border-color: $border;
    background-color: $fill;
    color: $text;
    transition-duration: .25s;
}

@mixin Button ($border, $fill, $text) {
    @include buttonState ($border, $fill, $text);
    &:hover {
        @if ($border==$text) {
            @if ($fill==transparent) {
                @include buttonState ($border, $border, white)
            }
            @else {
                @include buttonState ($border, $border, $fill)
            }
        }
        @else {
            @include buttonState ( darken($border, 10%), darken($fill, 10%), $text)
        }
    }
}