//Grid
$gutter: 30px;
$columns: 12;
$xs_prefix: xs;
$sm_prefix: sm;
$md_prefix: md;
$lg_prefix: lg;
$xl_prefix: xl;
$xs: 0;
$sm: 768px;
$md: 1024px;
$lg: 1200px;
$xl: 1440px;
$xs-max: $sm - 1px;
$sm-max: $md - 1px;
$md-max: $lg - 1px;
$lg-max: $xl - 1px;

$viewports: ( $xs_prefix: ($xs, $xs-max), $sm_prefix: ($sm, $sm-max), $md_prefix: ($md, $md-max), $lg_prefix: ($lg, $lg-max), $xl_prefix: $xl);

//Buttons
$button-lh: 1.25;
$button-font: 16px;
$button-font-small: $button-font - 4px;
$button-font-large: $button-font + 4px;
$button-border: 2px;
$button-border-radius: 5px;
$button-padding: 0.5em;
$button-text-align: center;
$button-text-transform: uppercase;
$button-font-weight: 400;