@import "variables";

body {
    background: $body-bg;
    height: $body-h;
    color: $body-col;
}

svg {
    &, > * {
        fill: currentColor;
    }

    display: inline-block;
    vertical-align: text-bottom;
    width: 1.25em;
    height: 1em;
}

#test {
    height: 100px;
    width: 100px;
    background-size: contain;
    background-position: center;
    background-image: url('../images/test.svg');
}