$sprite-list : (
    tube: $sprite + 'youtube.png',
    cloud: $sprite + 'cloud.png',
    reddit : $sprite + 'reddit.png',
    australia: $sprite + 'australian-continent.png',
);

@mixin SpriteImage ($image) {
    height: height($image);
    width: width($image);
    background: url($image) at-2x;
}

.sprite {
    display: inline-block;
    margin-right: 0.5em;
    margin-left: 0.5em;

    @each $class, $image in $sprite-list {
        &-#{$class} {
            @include SpriteImage($image);
        }
    }
}