@import 'vendor';
@import 'variables';

body {
    background-color: $body-bg;
}

h1 {
    color: $header-col;
}

p {
    color: $p-col;
}

.sprite {
    height: 32px;
    width: 32px;
    display: inline-block;
    margin-right: 10px;


    &.tube {
        background: url('../images-sprite/youtube.png');
    }

    &.cloud {
        background: url('../images-sprite/cloud.png');
    }

    &.reddit {
        background: url('../images-sprite/reddit.png');
    }
}