doctype html
html(lang="en")
    head
        meta(charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        title Title
    body
        //img(src=require('../images/1.jpg'))
        svg: use(xlink:href="#reddit")
        | Reddit
        svg: use(xlink:href="#twitter")
        | Twitter
        p Text below was included:
        include includes/_include