doctype html
html(lang="en")
    head
        meta(charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0")
        title Title
    body
        //img(src=require('../img/car.jpg'))
        p Text below was included:
        include includes/_include