doctype html
html(lang="en")
    head
        meta(charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0")
        title Title
    body
        //img(src=require('../img/car.jpg'))
        svg: use(xlink:href="#reddit")
        | Reddit
        svg: use(xlink:href="#twitter") Twitter
        | Twitter
        p Text below was included:
        include includes/_include