@import "vars";
@import "mixins";

.grid {
    width: 100%;
    margin: 0 auto;
    padding: 0 $gutter/2;
    box-sizing: border-box;

    &--fixed {
        max-width: $grid-width;
    }

    &__row {
        -js-display: flex;
        display: flex;
        margin: 0 $gutter/-2;
        flex-direction: row;
        flex-wrap: wrap;

        &--no-gutter {
            .grid__col { padding: 0; }
        }
    }

    &__col {
        padding: 0 $gutter/2;
        width: 100%;
        min-height: 1px;
        @include makeGrid();
    }
}

